spring:
  kafka:
    bootstrap-servers: 40.69.78.245:19092
  datasource:
    url: jdbc:postgresql://tinkoff-kotlin-psql-1.postgres.database.azure.com:5432/fintech?currentSchema=cashback
    username: kotlin_master@tinkoff-kotlin-psql-1.postgres.database.azure.com
    password: koklin
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQL9Dialect

app:
  topic:
    example: transactions

logging:
  level:
    root: WARN
    org.springframework.web: INFO
    com.memorynotfound: DEBUG
